.navbar{
    background-color: #000000;
    color: #ffffff;
    display: flex;
}

.navbar h2{
    margin-left: 4rem;
}

.icono{
    width: 30px;
}

.boton-navbar{
    margin-left: auto;
    align-content: center;
    margin-right: 60px;
}
